attrs==21.4.0
bidict==0.21.4
black==22.1.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
ConfigArgParse==0.15.2
deepdiff==5.7.0
Deprecated==1.2.13
flake8==4.0.1
idna==3.3
igraph==0.9.9
iniconfig==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
netconan==0.12.3
numpy==1.22.2
ordered-set==4.0.2
packaging==21.3
pandas==1.1.5
passlib==1.7.4
pathspec==0.9.0
platformdirs==2.5.0
pluggy==1.0.0
py==1.11.0
pybatfish==2021.11.4.1095
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.0.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
requests-toolbelt==0.9.1
simplejson==3.17.6
six==1.16.0
texttable==1.6.4
tomli==2.0.1
urllib3==1.26.8
wrapt==1.13.3
